<div class="ng-cool-video-container">
  <div class="ng-cool-video-inner">
    <div class="video-caption-preview">
    </div>
    <video></video>
    <div class="ng-cool-video-controls">
      <div class="ncv-play-pause">
        <i class="fa fa-backward" ng-click="playBackward()"></i>
        <i class="fa fa-play" ng-click="pause()" ng-show="isPlaying"></i>
        <i class="fa fa-pause" ng-click="play()" ng-show="!isPlaying"></i>
        <i class="fa fa-forward" ng-click="playForward()"></i>
      </div>
      <div class="ncv-progress">
        <progress class="ncv-progress-bar" max="100" value="0"></progress>
      </div>
      <div class="ncv-current-time">
        <span class="ncv-video-duration">00:00</span>
      </div>
      <div class="ncv-mute">
        <i class="fa fa-volume-up" ng-click="volumeOff()" ng-show="!isMuted"></i>
        <i class="fa fa-volume-off" ng-click="volumeOn()" ng-show="isMuted"></i>
      </div>
      <div class="ncv-sound-range">
        <input class="ncv-volume" type="range" max="10" min="0" value="5">
      </div>
    </div>
  </div>
</div>




<div class="ng-cool-video-container"><div class="ng-cool-video-inner"><div class="video-caption-preview"></div><video></video><div class="ng-cool-video-controls"><div class="ncv-play-pause"><button class="ncv-toggle-play" ng-click="togglePlay()"></button></div><div class="ncv-progress"><progress class="ncv-progress-bar" max="100" value="0"></progress></div><div class="ncv-current-time"><span class="ncv-video-duration">00:00</span></div><div class="ncv-mute"><button class="ncv-toggle-muted" ng-click="toggleMuted()"></button></div><div class="ncv-sound-range"><input class="ncv-volume" type="range" max="10" min="0" value="5" ng-model="video.volume"></div><div class="ncv-caption"><button class="ncv-toggle-caption" ng-click="toggleCaption()"></button></div></div></div></div>

<i class="fa fa-backward" ng-click="playBackward()"></i><i class="fa fa-play" ng-click="pause()" ng-show="isPlaying"></i><i class="fa fa-pause" ng-click="play()" ng-show="!isPlaying"></i><i class="fa fa-forward" ng-click="playForward()"></i>

<i class="fa fa-volume-up" ng-click="volumeOff()" ng-show="!isMuted"></i><i class="fa fa-volume-off" ng-click="volumeOn()" ng-show="isMuted"></i>
